name: release

on:
  push:
    tags:
      - "*"

permissions:
  attestations: write
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v2

      - name: Prevent from snapcraft fail
        run: |
          mkdir -p $HOME/.cache/snapcraft/download
          mkdir -p $HOME/.cache/snapcraft/stage-packages

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: 'v2.10.2'
          args: release --clean --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}

      - name: Generate artifact attestations
        uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: dist/commitizen_checksums.txt

      - name: Preserve artifacts permissions with tar
        run: tar -cvf dist.tar dist/
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist.tar
